:root{
    --mainGrey: #1a1a1a;
    --mainDark:   #000000;
    --lightPink: #ff8080;
    --darkPink: #972727;
    --mainWhite: #ffffff;
    --lightYellow:#e68a00;
    --darkYellow: #6e4404;
    
    

}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    overflow-x: hidden;
    overflow-y: auto;
}

body{
    font-family:'Merriweather', serif !important;
    background-color: var(--mainWhite) !important;
    color: var(--mainDark)!important;
}
.font{
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
}
.lineC{
    width:100%;
    height:2px;
    background:#fff;
}

.image{
    width:400px;
    height:500px;
}
